<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 0. 配置数据源，交给 Spring 去做 -->

    <!-- 1. 日志 -->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!-- 2. 假名 -->
    <typeAliases>
        <package name="com.know.pojo"/>
    </typeAliases>

    <!-- 3. 注册 -->
    <mappers>
        <mapper class="com.know.dao.UserMapper"/>
    </mappers>

</configuration>