<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 1. 扫描 service 下的包 -->
    <context:component-scan base-package="com.know.service"/>

    <!-- 2. 将我们的所有业务类，注入Spring，配置 / 注解 ServiceImpl-->
    <bean id="userServiceImpl" class="com.know.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper"/>
    </bean>
    
    <bean id="topicServiceImpl" class="com.know.service.TopicServiceImpl">
        <property name="topicMapper" ref="topicMapper"/>
    </bean>

    <bean id="favoritesServiceImpl" class="com.know.service.FavoritesServiceImpl">
        <property name="favoritesMapper" ref="favoritesMapper"/>
        <property name="answerMapper" ref="answerMapper"/>
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="answerServiceImpl" class="com.know.service.AnswerServiceImpl">
        <property name="answerMapper" ref="answerMapper"/>
        <property name="questionMapper" ref="questionMapper"/>
    </bean>

    <bean id="commentServiceImpl" class="com.know.service.CommentServiceImpl">
        <property name="commentMapper" ref="commentMapper"/>
    </bean>

    <bean id="followServiceImpl" class="com.know.service.FollowServiceImpl">
        <property name="followMapper" ref="followMapper"/>
        <property name="userMapper" ref="userMapper"/>
    </bean>

    <bean id="likeServiceImpl" class="com.know.service.LikeServiceImpl">
        <property name="likeMapper" ref="likeMapper"/>
        <property name="userMapper" ref="userMapper"/>
        <property name="answerMapper" ref="answerMapper"/>
        <property name="commentMapper" ref="commentMapper"/>
    </bean>

    <bean id="searchServiceImpl" class="com.know.service.SearchServiceImpl">
        <property name="userMapper" ref="userMapper"/>
        <property name="topicMapper" ref="topicMapper"/>
        <property name="questionMapper" ref="questionMapper"/>
        <property name="searchMapper" ref="searchMapper"/>
    </bean>

    <bean id="questionServiceImpl" class="com.know.service.QuestionServiceImpl">
        <property name="questionMapper" ref="questionMapper"/>
        <property name="qtrelationMapper" ref="qtrelationMapper"/>
    </bean>


    <!-- 3. 声明式事务配置 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>

</beans>