<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.know.dao.CommentMapper">

    <insert id="comment" parameterType="comment" useGeneratedKeys="true" keyProperty="commentId">
        insert into know.comment(commenterId, commentedId, commentContent, commentLiked, answerId, commentTime) values (#{commenterId}, #{commentedId}, #{commentContent}, #{commentLiked}, #{answerId}, #{commentTime});
    </insert>

    <delete id="deleteComment">
        delete from know.comment where commentId = #{commentId};
    </delete>

    <select id="queryCommentOrderByTime" resultType="comment">
        select * from know.comment where answerId = #{answerId} order by commentTime desc;
    </select>

    <select id="queryCommentOrderByLiked" resultType="comment">
        select * from know.comment where answerId = #{answerId} order by commentLiked desc;
    </select>
</mapper>