<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.know.dao.FavoritesMapper">

    <insert id="insertFavorites" parameterType="favorites" useGeneratedKeys="true" keyProperty="favoritesId">
        insert into know.favorites (userId, favoritesName, updateTime, contentNumber)
        values (#{userId},#{favoritesName},#{updateTime},#{contentNumber});
    </insert>

    <insert id="favour" parameterType="map">
        insert into know.favoritescontent (favoritesId, answerId)
        values (#{favoritesId}, #{answerId});
    </insert>

    <delete id="unfavour" parameterType="map">
        delete from know.favoritescontent
        where favoritesId = #{favoritesId}
          and answerId = #{answerId};
    </delete>

    <delete id="emptyFavorites">
        delete from know.favoritescontent
        where favoritesId = #{favoritesId};
    </delete>

    <delete id="deleteFavorites">
        delete from know.favorites
        where favoritesId in
        <foreach collection="array" item="favoritesIds" open="(" close=")" separator=",">
            #{favoritesIds}
        </foreach>;
    </delete>

    <update id="updateFavoritesName" parameterType="map">
        update know.favorites
        set favoritesName = #{favoritesName}
        where favoritesId = #{favoritesId};
    </update>

    <update id="updateFavoritesLike" parameterType="map">
        update know.favorites
        set contentNumber = contentNumber + #{contentNumber}, updateTime = #{updateTime}
        where favoritesId = #{favoritesId};
    </update>

    <select id="queryFavoritesById" resultType="favorites">
        select *
        from know.favorites
        where favoritesId = #{favoritesId};
    </select>

    <select id="queryFavoritesListByUserId" resultType="favorites">
        select *
        from know.favorites
        where userId = #{userId};
    </select>

    <select id="queryCollectedAnswerId" resultType="int">
        select answerId
        from know.favoritescontent
        where favoritesId = #{favoritesId};
    </select>

    <select id="queryFavoritesContent" resultType="answer">
        select a.*
        from favoritescontent fc, answer a
        where fc.favoritesId = #{favoritesId}
          and fc.answerId = a.answerId;
    </select>

</mapper>