<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.know.dao.QuestionMapper">

    <insert id="askQuestion" parameterType="question" useGeneratedKeys="true" keyProperty="questionId">
        insert into know.question(questionerId, questionTime, questionTitle, questionContent, answerNumber, browseNumber)
        values (#{questionerId}, #{questionTime}, #{questionTitle}, #{questionContent}, #{answerNumber}, #{browseNumber});
    </insert>
</mapper>