<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.know.dao.UserMapper">

    <insert id="signUp" parameterType="user">
        insert into know.user(telephone, password, name, sex, birthday, signUpTime, answerCollected, answerLiked, head)
        values (#{telephone},#{password},#{name},#{sex},#{birthday},#{signUpTime},#{answerCollected},#{answerLiked},#{head});
    </insert>
    
    <select id="checkByTelephone" resultType="user">
        select * from know.user where telephone = #{telephone};
    </select>

    <update id="modifyPassword" parameterType="user">
        update know.user set password = #{password} where userId = #{userId};
    </update>

    <select id="checkByUserId" resultType="user">
        select * from know.user where userId = #{userId};
    </select>

    <update id="modifyPersonalInfo" parameterType="user">
        update know.user set name = #{name}, birthday = #{birthday}, sex = #{sex}
        where userId = #{userId};
    </update>
</mapper>